body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
  Helvetica, Ariel, "Lucinda Grande", sans-serif;
}

h1#site-title {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  color: #210700;
  font-family: sans-serif;
  text-align: center;
}

h1#article-title {
  font-size: 36px;
  align-items: ;
}

p {
  line-height: 1.25;
  margin-bottom: 1.25em;
}

figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}

figure img {
  width: 50%;
  height: auto;
}

figure.main-image {
  background: brown;
  border-color: beige;
  color: whitesmoke;

}

figure.section-image {
  margin-bottom: 32px;
  max-width: 320px;
}

figure.section-image.odd {
  float: right;
  margin-left: 20px;
}

figure.section-image.even {
  float: right;
  margin-right: 20px;
}

p img {
  float: right;
  max-width: 60%;
  margin-left: 20px;
  margin-bottom: 32px;
}

a {
  font-weight: bold;
  color: green;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}